body{
    font-family: 'Times New Roman', Times, serif;
    background: #f1f1f1;
    border: 2px solid rgb(20, 20, 20);
    margin: auto;
    text-align: center;
}

header{
background: white;
padding: 30px;
border: transparent;
font-size: 50px;
}

p{
    background: rgb(204, 195, 171);
    padding: 35px;
    text-align: right;
    font-size: 18px;
}