body{
    font-family: 'Times New Roman', Times, serif;
    background: lightgray;
    margin: 200px;
    text-align: center;
    box-sizing: border-box;
}

header{
background: rgb(255, 255, 255);
font-size: 50px;
}

p{
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px; 
}

ul{
    text-align: center;
}

li{
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}